<h1>Food</h1>
<div><%= link_to 'Wine', checkout_index_path(:name => 'Wine', :price => @price) %></div>
<div><%= link_to 'Chocolate', checkout_index_path(:name => 'Chocolate', :price => @price) %></div>
<div><%= link_to 'Sushi', checkout_index_path(:name => 'Sushi', :price => @price) %></div>
<div><%= link_to 'Avocado Toast', checkout_index_path(:name => 'Avocado Toast', :price => @price) %></div>