<h1>Receipt</h1>
<table> 
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <% @foods.all.each do |food| %>
        <tr>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
    </tr>
  <% end %>
</table>
<br>
<div>Subtotal <% %></div>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, food_index_path%>
